#details-controls
{
    padding: 50px;    
}
#details-body
{
    padding: 10px 50px;
    display: flex;
    gap: 80px;
}
#details-flag
{
    flex: 0.5;
    background-position: center;
    background-size: cover;
    animation: flag-animation .5s forwards;
    opacity: 0;
    transform: translateX(-50px);
    box-shadow: var(--card-bs);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: background-color .2s;
}
#details-flag-open
{
    flex: 0.5;
    background-position: center;
    background-size: cover;
    animation: flag-animation .5s forwards;
    opacity: 0;
    transform: translateX(-50px);
    box-shadow: var(--card-bs);    
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;    
    cursor: pointer;
    background-color: #00000095;
    transition: background-color .2s;
    z-index: 1;    
}
#details-flag-open img
{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .2s;
    cursor: pointer;
}
#details-flag img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: .2s;
}
#details-flag-loader-container
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--lm-dm-elements);
    display: flex;
    align-items: center;
    justify-content: center;    
}
#details-flag-loader
{
    height: 70px;
    width: 70px;
    border: 5px solid var(--lm-input-cr);
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-radius: 50%;
    animation: flag-loader-animate .8s infinite ease-in;   
}
.details-flag-loader-container-none
{
    transition: .3s;
    visibility: hidden;
    opacity: 0;
}
@keyframes flag-loader-animate 
{
    to
    {
        transform: rotate(360deg)
    }    
}
@keyframes flag-animation 
{
    to    
    {
        opacity: 1;
        transform: translateX(0);
    }
}
#details-inner
{
    flex: 1;
    opacity: 0;    
    animation: flag-animation .5s forwards;
    animation-delay: .3s;
}
#details-name
{
    font-size: var(--xxlarge-fs);
    font-weight: var(--extrabold-fw);
    margin-bottom: 40px;
}
#details-descriptions
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}
#details-descriptions p
{
    font-weight: var(--semibold-fw);
}
#details-descriptions span
{
    font-weight: var(--light-fw);
}
#details-borders
{
    font-weight: var(--semibold-fw);
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
#details-borders label
{
    padding: 5px 10px;
    margin: 0 2px;
    cursor: pointer;
    border-radius: 8px;
    background: var(--lm-dm-elements);
    border: 1px solid var(--lm-dark-cr);       
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    white-space: nowrap;
}
@media screen and (max-width: 500px) 
{
    #details-flag-open img
    {
        width: 100%;
    }
}
@media screen and (max-width: 1100px) 
{
    #details-controls
    {
        padding: 30px;
    } 
    #details-body
    {
        padding: 10px 30px;
        flex-direction: column;
    } 
    #details-flag
    {
        flex: unset;
        height: 250px;
    }
    #details-descriptions
    {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    #details-borders
    {
        display: flex;
        flex-direction: column;    
        margin-bottom: 20px;
        align-items: unset;
    }
    #details-borders label
    {
        width: fit-content;
        width: -moz-fit-content;
    }
}