#header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    box-shadow: var(--header-bs);    
    background-color: var(--lm-dm-elements);
}
#header p
{
    font-weight: var(--extrabold-fw);
    font-size: var(--large-fs);
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#header button
{
    padding: 8px 0;
}
@media screen and (max-width: 800px)
{
    #header
    {
        padding: 15px 30px;
    }
}